<div class="top-of-page">
	<h1>Pin It!</h1>
	<p>
		Use this form to add a new pin!  Fill out the form below with a brief discription of your pin.
	</p>
</div>

<div class="form-group">
	<%= form_for(@pin) do |form_builder_object| %>
		<label for="pin_image">Image</label>
		<%= form_builder_object.file_field :image %>
	<% end %>
</div>

<%= render "form" %>

<a href="/">
  <i class="fa fa-home"></i>
  Back to Home
</a>