<div class="top-of-page">
	<h1>Pin It!</h1>
	<p>
		Use this form to add a new pin!  Fill out the form below with a brief discription of your pin.
	</p>
</div>

<%= render "form" %>

<a href="/">
  <i class="fa fa-home"></i>
  Back to Home
</a>