body {
  background: url(asset-path('laptop-background.jpg')) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #dd5566;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #dd5566;
}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin{
  background-color: #fff;
  padding: 40px;  
}
hr{
  clear:both;
}

/************
my css below
************/

form > label, form > input, form > button {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.pin-container {
  padding: 0 0.25em 0 0.25em;
  margin: 0.25em auto 0.25em auto;
}

.pin-title {
  overflow: hidden;
}
.pin {
  border: #C6190E solid 0.08em;
}